---

import '../styles/base.css';
import Hero from '../components/Hero.astro'
import Tools from '../components/icons/Tools.astro'
import CardMd from '../components/CardMd.astro'
import TopPicks from '../components/TopPicks.astro'
import TopPicksMac from '../components/TipPicksMac.astro'

import { getCollection } from 'astro:content';
import BaseLayout from '../Layouts/BaseLayout.astro';
import TopPicksAndroid from '../components/TopPicksAndroid.astro';
import Sheild from '../components/icons/Sheild.astro';
import Globe from '../components/icons/Globe.astro';
import MenuBottomHome from '../components/Menu-Bottom-Home.astro';
const apps = await getCollection("apps");
const browsers = await getCollection("browsers");
const tools = await getCollection("tools");

---
<BaseLayout>

    <Hero/>	

    <div class="max-w-screen-xl mx-2 md:mx-auto bg-gray-900/70 rounded-3xl mt-96   shadow-xl backdrop-blur-md pb-10 relative z-10">  
        <div class="overflow-x-clip ">
        <div class="max-w-screen-xl mx-auto  ">
            <div class="py-40">
                <h2 class="text-white text-3xl">Sorry Page Not Found   : (</h2>
            </div>
              
        </div>
        </div>



    </div>

<MenuBottomHome/>

</BaseLayout>




