---
import Star from '../components/icons/star.astro'
---

<div class="flex w-72 max-w-80 rounded-2xl shadow-sm items-center border border-slate-100 bg-white">
    <div class="m-2.5 overflow-hidden rounded-xl w-16 max-w-16 h-16">
        <img class="w-full h-full object-cover" src="https://docs.material-tailwind.com/img/team-3.jpg" alt="profile-picture" />
    </div>
    <div class="mx-2.5 flex flex-col justify-center ">
        <p class="text-md font-semibold">Tunnel Bear</p>
        <p class="text-xs font-semibold text-slate-400">VPN</p>
        <p class="flex text-slate-400 text-sm">
            <Star/><span class="px-1">4.5</span>
        </p>
    </div>
</div>