---
---


<footer class=" rounded-lg shadow w-full justify-self-end relative z-0">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="flex justify-center">
            <p class="text-slate-300 text-center font-bo bg-slate-800 p-4 rounded-xl border-2 border-slate-700 " >
                <span class="text-green-400">གསལ་བཤད།</span> དྲ་ཚིགས་འདིའི་སྟེང་གི་མཉེན་ཆས་ཁག་གཞུང་ཕྱོགས་ཀྱི་མཉེན་ཆས་ངོ་མ་ཤ་སྟག་ཡིན་པས། ཕབ་ལེན་བྱས་ན་བདེ་འཇགས་ཡིན།</p>
        </div>
        <div class="sm:flex sm:items-center sm:justify-between flex-row-reverse">
            <!-- <a href="http://lamyi9.com/" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                <img src="/lamyig-logo100.png" class="h-8" alt="Flowbite Logo" />
            </a> -->
            <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400 justify-center">
                <li>
                    <a href="http://lamyiq.com/about/" target="_blank" class="hover:underline me-4 md:me-6">ངའི་སྐོར།</a>
                </li>
               
            </ul>
        </div>
        <hr class="my-6 border-gray-800 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400 font-bo">© 2025 པར་དབང་ཡོད་ཚད་ལམ་ཡིག་ཚང་ལ་དབང་བས། ཆོག་མཆན་མ་ཐོབ་པར་བརྒྱུད་འགོད་བྱས་མི་ཆོག</span>
    </div>
</footer>

<script  src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
