---
import LokladLogo from "./icons/loklad-logo.astro";

const backgroundHero = `background-image : linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5) 98%), url('circuit-board.svg')`;

---

<section class=" dark:bg-gray-900 bg-fixed " style="background-size:330px; background-repeat: repeat; background-image : linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5) 98%),url('circuit-board.svg')">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16">
        <!-- <div class="bg-gradient-to-r from-rose-400 to-red-500 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-2xl p-8 md:p-12 mb-8" >
            <h1 class=" text-white text-3xl md:text-5xl  mb-2 font-bo leading-relaxed [text-shadow:_1px_1px_3px_rgb(0_0_0_/_80%)]">གློག་འཁྱུག་ལ་དགའ་བསུ་ཞུ།</h1>
            <p class="text-3xl font-normal text-white mb-6 font-bo leading-relaxed  [text-shadow:_1px_1px_3px_rgb(0_0_0_/_80%)]">ཁྱེད་ཀྱི་གློག་ཀླད་དང་སྒེར་གྱི་གནས་ཚུལ་སྲུང་སྐྱོབ་བྱེད་པར་ཆེད་དུ་གྲུབ་པའི་ཉེན་སྲུང་མཉེན་ཆས་ནུས་པ་ཅན་སྣ་ཚོགས་ཤིག་ང་ཚོའི་དྲྭ་སྟེང་དུ་ཡོད་ལ། ཁྱེད་ལ་དགོས་ངེས་ཀྱི་ཅ་དངོས་ཡོད་ཚད་ང་ཚོའི་ཕྱོགས་བསྡུས་ཁྲོད་ནས་རག་ཐུབ། ཁྱེད་ཀྱིས་གོམ་པ་དང་པོ་དེ་སྤོས་ཏེ་སྔར་ལས་བདེ་འཇགས་ཀྱི་དྲྭ་སྟེང་གི་འཚོ་བ་རོལ་བར་བརྩོན་འགྲུས་རྩོམས།</p>
            <p class="text-xl font-normal text-white mb-6">
                Your one-stop destination for safeguarding your digital world. Discover a wide range of powerful security applications designed to protect your devices and personal information. We have everything you need to stay safe online. Explore our collection and take the first step towards a more secure digital experience!
            </p>
            <a href="#" class="inline-flex justify-center items-center py-2.5 px-5 text-base font-medium text-center text-white rounded-lg bg-brown hover:bg-slate-400 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
                Read more
                <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
        </div> -->
    
        <div class="grid md:grid-cols-4 gap-4 items-center">
            <div class=" dark:bg-gray-800  dark:border-gray-700 rounded-lg p-8 md:p-12 col-span-2">
                <img src="/graphics/side.png" class=" rounded-lg">
            </div>

            <div class=" dark:bg-gray-800   dark:border-gray-700 rounded-lg p-8 md:p-12 font-bo col-span-2 text-white">
                <h1 class="  text-3xl md:text-5xl  mb-2 font-bo leading-relaxed ">གློག་འཁྱུག་ལ་དགའ་བསུ་ཞུ།</h1>
                <p class="text-2xl font-normal dark:text-gray-400 mb-4">ཁྱེད་ཀྱི་གློག་ཀླད་དང་སྒེར་གྱི་གནས་ཚུལ་སྲུང་སྐྱོབ་བྱེད་པར་ཆེད་དུ་གྲུབ་པའི་ཉེན་སྲུང་མཉེན་ཆས་ནུས་པ་ཅན་སྣ་ཚོགས་ཤིག་ང་ཚོའི་དྲྭ་སྟེང་དུ་ཡོད་ལ། ཁྱེད་ལ་དགོས་ངེས་ཀྱི་ཅ་དངོས་ཡོད་ཚད་ང་ཚོའི་ཕྱོགས་བསྡུས་ཁྲོད་ནས་རག་ཐུབ། ཁྱེད་ཀྱིས་གོམ་པ་དང་པོ་དེ་སྤོས་ཏེ་སྔར་ལས་བདེ་འཇགས་ཀྱི་དྲྭ་སྟེང་གི་འཚོ་བ་རོལ་བར་བརྩོན་འགྲུས་རྩོམས།</p>
                
            </div>
        </div>
    
    
    </div>
</section>
