---
import Globe from "./icons/Globe.astro";
import Home from "./icons/Home.astro";
import Sheild from "./icons/Sheild.astro";
import Tools from "./icons/Tools.astro";
---

<div class="flex justify-center w-screen-sm">
    <div class="bg-white/80 w-full  max-w-96 flex justify-around fixed  bottom-2 z-20 backdrop-blur-md text-red-600  rounded-3xl items-center border-2 border-slate-200 shadow-lg py-5 px-10">

        <a  id="tools-tab" href="/" type="button"   class="px-6">
            <Home/>
        </a>
  </div>