---
import CardSm from "./CardSm.astro";


---

<div class="flex flex-col p-5 m-5 md:p-10 lg:p-10 rounded-2xl bg-gradient-to-r from-cyan-500 to-blue-500 my-20">
    <div class="text-xl font-bold  flex items-center">
        <svg class="w-10 h-10 text-gray-100 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path fill="currentColor" fill-rule="evenodd" d="M3.005 12 3 6.408l6.8-.923v6.517H3.005ZM11 5.32 19.997 4v8H11V5.32ZM20.067 13l-.069 8-9.065-1.275L11 13h9.067ZM9.8 19.58l-6.795-.931V13H9.8v6.58Z" clip-rule="evenodd"/>
    </svg>
    <h2 class="text-gray-200">Our Top Picks for Windows</h2></div>
    <div class="grid gap-5 grid-cols-1 sm:grid-cols-1 md:grid-cols-4 lg:grid-cols-4  pt-10">
        <CardSm/>
        <CardSm/>
        <CardSm/>
    
    </div>
</div>