---
import ViewTransitions from "astro/components/ViewTransitions.astro";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import TopPicks from "../components/TopPicks.astro";
import TopPicksAndroid from "../components/TopPicksAndroid.astro";

---

<html lang="en">
<head>
    <BaseHead/>
   
</head>
<body class="w-full bg-gray-900 ">
    <!-- <Navbar/> -->
    <Hero/>	
    <slot/>

<Footer/>

</body>
</html>